
#latestcomments {
	display:none;
}

.blogcomments {
  background:#FFFFFF;
  border: 0px solid #eee;
  border-radius: 0;
  margin-top: 0px;
  padding-bottom: 19px;
}

.blogcomments-tab-menu ul {
  border: medium none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

.blogcomments-tab-menu ul li {
  background:#DF302B;
  color: #FFFFFF;
  cursor: pointer;
  font-family: ramblabold;
  font-size: 14px;
  padding: 8px 0px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  text-align:center;
}

.blogcomments-tab-menu ul li:first-child {
  background:#FFFFFF;
  color: #DF302B;
}

.blog-content-single {
  border-bottom: 1px solid #F3F5F7;
  margin-left: 20px;
  padding-bottom: 15px;
  margin-right: 20px
}


.blog-content-title p {
  color: #333;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0;
}

.blog-content-title  ul {
	margin:0;
	padding:0;
	list-style:none;
}

.blog-content-title ul  li {
	float:left;
}

.blog-content-title ul li a {
  color: #8F8F8F;
  font-family: myriad pro;
  font-size: 10px;
  padding-right: 8px;
  text-transform: uppercase;
}

.blog-content-title ul li a i{
  padding-right:4px;
}

